{
    "parser": "babel-eslint",
    "parserOptions": {
        "sourceType": "module",
        "allowImportExportEverywhere": false,
        "codeFrame": false
    },
    "plugins": [
        "es-beautifier"
    ],
    "extends": [
        "plugin:es-beautifier/standard"
    ]
}